<launch>
	<group>
		<node pkg="camera1394" type="camera1394_node" name="pt_grey"    >
      		<param name="width" type="int" value="640" />
      		<param name="height" type="int" value="480" />
      		<param name="auto_brightness" value="2"/>
      		<param name="auto_gain" value="2"/>
      		<param name="auto_pan" value="2"/>
      		<param name="auto_shutter" value="2"/>
      		<param name="bayer_pattern" type="string" value="rggb"/>
      		<param name="bayer_method" type="string" value="Simple"/>
    	</node>
	</group>
</launch>
