<launch>
    <!-- 
     This is the desktop visuliser launch file for Jomegatron
     Author: James Anderson
     Date: 4/23/12
    -->
    
    
    <!-- Define arguments and defaults  -->
    <arg name="robot_addr" default="localhost" />
    <arg name="rviz" default="1" />
    <arg name="joy_node" default="1"/>
    <!--arg name="wiimote" default="0" /-->
    <arg name="sound" default="1" />
    <arg name="config" default="1" />
    <arg name="display" default="0" />
    <arg name="usb" default="1"/>
    <arg name="edges" default="0"/>
    
    <!-- conect to the specified master  -->
    <env name="ROS_MASTER_URI" value="http://$(arg robot_addr):11311" />
    
    <!-- launch joy package-->
    <node pkg="joy" type="joy_node" name="joy_node" respawn="true">
        <param name="deadzone" value=".1"/>
    </node>
    
    
    <!-- launch wiimote node if requested -->
    <!--node pkg="wiimote" type="wiimote_node.py" name="wiimote_desktop" respawn="true" if="$(arg wiimote)"/-->
    
    <!-- launch soud play for speach syth  -->
    <node pkg="sound_play" type="soundplay_node.py" name="sound_play" if="$(arg sound)"/>
    
    <!-- launch the dynamic reconfigure gui  -->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" if="$(arg config)" />
    
    <node pkg="mst_colorstat" type="ColorStat" name="ColorStat" args= "image:=camera/image_color" >
        
      <rosparam file="$(find control)/yaml/ColorStat.yaml" command="load" />

    </node>
    
    <!--node pkg="mst_color" type="mst_color" name="mst_color" args= "image:=camera/image_color" /-->
      
       
    <node pkg="mst_position" type="mst_position" name="mst_position">
        
      <rosparam file="$(find control)/yaml/Practice_Waypoints.yaml" command="load" />
        
    </node>

    <!--node pkg="mst_pointcloud" type="mst_pointcloud" name="mst_pointcloud"/-->
    
    <node pkg="navigation" type="tracking" name="navigation_tracking" />
    
    <node pkg="control" type="control" name="control" required="true" >
        
      <rosparam file="$(find control)/yaml/Control.yaml" command="load" />
        
    </node>
    
    
    
    <!-- launch image veiws if display is requested  -->
    <group if="$(arg display)">

        <node pkg="image_view" type="image_view" name="ptgrey_display" args="image:=ptgrey/image_raw" if="$(arg usb)"/>

        <node pkg="image_view" type="image_view" name="ptgrey_display" args="image:=ptgrey/image_rect_color" unless="$(arg usb)"/>

        <node if="$(arg edges)" pkg="image_view" type="image_view" name="edges_display" args="image:=image_edges" />

        <node pkg="image_view" type="image_view" name="stat_display" args="image:=image_stat" />

        <node pkg="image_view" type="image_view" name="map_display" args="image:=map" />

    </group>
    
    <node pkg="rosserial_python" type="serial_node.py" name="arduino_node" args="/dev/ttyACM0" />  
    
    <param name="robot_description" textfile="$(find control)/urdf/robots/Enterprise2.URDF" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />
    
    <node pkg="enterprise_description" type="enterprise_description_node" name="tf_broadcast" />
    
    <node pkg="urg_node" type="urg_node" name="lidar" >
    	<param name="serial_port" type="string" value="/dev/ttyACM1"/>
   	</node>
   	
   	<!-- Launch the pt_grey camera -->
    <include file="$(find control)/launch/ptgrey.launch" />
    
    <!-- Launch the gps -->
    <include file="$(find control)/launch/gps.launch" />
    
    <!-- Launch the gmapping -->
    <include file="$(find control)/launch/slam.launch" />
    
    <!-- launch rviz if requested -->
    <node name="rviz_desktop" pkg="rqt_rviz" type="rqt_rviz" args="-d $(find control)/vcg/Enterprise.rviz" if="$(arg rviz)"/>
    
</launch>

