<launch>
    <!-- conect to the specified master  -->
    <env name="ROS_MASTER_URI" value="http://localhost:11311" />

    <node pkg="control" type="control" name="control" required="true" > 
      <rosparam file="$(find control)/yaml/Control.yaml" command="load" />
    </node>   

    <node pkg="control" type="moon_control" name="moon_control" required="true" output="screen"/> 

	<node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="/dev/ttyACM0" /> 
    
</launch>
